@import "styles/vw-calc.scss";
@import "styles/variables.scss";

.container {
  width: 100%;
  height: 100%;
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: $backdrop-color;

  .background {
    width: 100%;
    height: vw-calc(150);
    top: 70;
    left: 0;
    background-color: $background-color;
  }

  .later {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: $backdrop-color;
    padding: 0 vw-calc(50);
    font-size: vw-calc(20);
    margin-top: vw-calc(150);
  }

  .user {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: $backdrop-color;
    padding: 0 vw-calc(50);

    > div {
      &:not(.content) {
        position: relative;
        top: vw-calc(-100);
      }
    }

    .content {
      width: vw-calc(700);
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      background-color: $backdrop-color;
      padding: vw-calc(50);
    }

    .tabRow {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }

  .tab {
    width: vw-calc(150);
    height: vw-calc(50);
    min-height: 48px;
    border-radius: vw-calc(10);
    border: 1px solid $secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $backdrop-color;
    font-size: vw-calc(18);
    font-weight: 600;
    color: $primary;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: $secondary;
      color: $background-color;
    }
  }

  .active {
    background-color: $secondary;
    color: $background-color;
  }
}
