@import "styles/variables.scss";
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 1.5vw 5vw;
  background-color: black;
  z-index: 100;
  height: 70px;
  @media (max-width: 768px) {
    padding: 20px 15px;
  }

  .name {
    font-size: 0.7vw;
    font-weight: 500;
    color: $primary;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: #9ca3af;
      cursor: pointer;
    }

    @media (max-width: 768px) {
      font-size: 1.5vw;
    }
  }
  .search {
    width: 32vw;
    border-radius: 10px;
    border: 1.5px solid $border-color;
    align-items: center;
    display: flex;
    min-height: 30px;
    padding: 10px 20px;
    transition: border 0.3s ease-in-out;

    @media (max-width: 768px) {
      width: 60vw;
    }

    &:hover {
      border: 1.5px solid $secondary;
    }

    &:focus-within {
      border: 1.5px solid $primary;
    }

    input {
      width: 90%;
      height: 100%;
      border: none;
      outline: none;
      font-size: 0.7vw;
      font-weight: 500;
      color: $primary;
      background-color: transparent;

      &::placeholder {
        color: #d1d5db;
        font-size: 0.7vw;
        font-weight: 500;
        @media (max-width: 768px) {
          font-size: 2.5vw;
        }
      }

      @media (max-width: 768px) {
        font-size: 2.5vw;
      }
    }
  }
  .account {
    font-size: 0.4vw;
    font-weight: 500;
    color: $primary;
    transition: color 0.3s ease-in-out;

    @media (max-width: 768px) {
      display: none;
    }

    &:hover {
      color: $secondary;
    }
  }
  .menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}
