@import "styles/variables.scss";
@import "styles/vw-calc.scss";

.popup {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $background-color;
  opacity: 0.2;
  position: absolute;

  .popupInner {
    width: vw-calc(500);
    height: vw-calc(500);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $background-color;
    border-radius: vw-calc(8);
    opacity: 1;

    h1 {
      font-size: vw-calc(30);
      color: $primary;
      margin-bottom: vw-calc(20);
    }

    p {
      font-size: vw-calc(20);
      color: $secondary;
      margin-bottom: vw-calc(20);
    }

    button {
      width: vw-calc(200);
      height: vw-calc(50);
      border-radius: vw-calc(8);
      background-color: $primary;
      color: $background-color;
      font-size: vw-calc(20);
      font-weight: 600;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: $secondary;
      }
    }
  }
}
