@import "styles/variables.scss";
@import "styles/vw-calc.scss";

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $background-color;
  padding: vw-calc(100);
}
