@import "styles/variables.scss";
@import "styles/vw-calc.scss";
.input {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: vw-calc(500);
    @media screen and (max-width: 768px) {
        width: 90%;
    }

    > label {
        color: $primary;
        width: 100%;
        text-align: center;
        align-items: center;
        font-weight: 600;
        font-size: vw-calc(20);
        margin-bottom: vw-calc(10);

        @media screen and (max-width: 768px) {
            font-size: 4vw;    
        }
    }

    .inputContainer {
        border-radius: 8px;
        border: 1px solid $light-gray-10;
        background: $light-gray-30;
        width: 100%;
        padding: 12px 16px;

        @media screen and (max-width: 768px) {
            padding: 12px 8px;
        }

        height: vw-calc(50);
        min-height: 48px;
        color: $light-base-black;

        &::placeholder {
            color: $light-gray-base;
        }

        font-size: vw-calc(18);
        font-weight: 400;
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        > input {
            width: 100%;
            height: vw-calc(50);
            min-height: 48px;
            border: none;
            background: transparent;
            outline: none;
            font-size: vw-calc(18);
            font-weight: 600;
            color: $light-base-black;

            @media screen and (max-width: 768px) {
                font-size: 3vw;
            }

            &::placeholder {
                color: $light-base-black;
            }
        }

        &:hover {
            border: 1px solid $light-gray-base;
            background: $primary;
        }

        &:focus-within {
            border: 2px solid $light-base-black;
            background: $primary;
        }

        .icon {
            width: vw-calc(30);
            height: vw-calc(30);
            min-height: 24px;
            min-width: 24px;

            &:hover {
                cursor: pointer;
            }

            > img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
